In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
train = pd.read_csv('/content/drive/MyDrive/BS/train.csv')
test = pd.read_csv('/content/drive/MyDrive/BS/test.csv')

In [6]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
train.drop(columns=["Cabin"], inplace=True)
test.drop(columns=["Cabin"], inplace=True)

In [12]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [14]:
# Frist focus to fill the null values. Here Embarked have 2 null values.
# Therefore I will fill that null values by the maximum frequency value of embarked.

train['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [16]:
train['Embarked'].fillna('S', inplace=True)

In [17]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64

In [18]:
test.isnull().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            1
Embarked        0
dtype: int64

In [22]:
test["Fare"].fillna(test["Fare"].mean(), inplace=True)

<ipython-input-22-e192746a79f8>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test["Fare"].fillna(test["Fare"].mean(), inplace=True)

In [23]:
test.isnull().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            0
Embarked        0
dtype: int64

In [29]:
train_age = np.random.randint(train["Age"].mean()-train["Age"].std(), train["Age"].mean()+train["Age"].std(), 177)
print(train_age)

[30 37 23 32 25 43 43 17 41 31 42 41 28 25 34 20 20 36 25 34 18 24 32 28
 29 37 26 27 38 43 37 35 25 31 26 21 39 42 37 35 43 26 24 29 18 22 36 21
 25 23 29 23 19 31 28 28 35 27 29 37 38 40 33 29 17 38 22 38 21 31 17 41
 43 18 24 20 38 40 40 19 39 41 42 37 37 24 37 42 40 17 21 41 30 42 19 16
 32 25 18 38 27 34 18 38 17 22 16 28 25 40 16 41 21 19 17 28 40 35 33 32
 31 33 21 23 29 28 41 39 38 33 39 27 22 30 25 38 26 26 22 35 18 16 26 27
 29 38 35 42 26 17 32 25 34 41 16 17 23 26 22 25 23 26 29 16 20 17 31 41
 25 24 22 16 16 15 40 34 16]

In [31]:
test_age = np.random.randint(test["Age"].mean()-test["Age"].std(), test["Age"].mean()+test["Age"].std(), 86)
print(test_age)

[31 38 20 43 28 24 28 20 17 40 17 37 31 24 42 41 36 27 28 37 27 43 34 35
 34 24 23 37 34 42 29 36 24 27 20 16 33 31 38 38 24 24 36 37 28 43 33 19
 43 40 36 39 24 29 36 30 37 18 26 37 16 22 42 19 36 30 37 24 27 39 32 23
 23 41 32 41 17 43 29 19 33 19 33 37 30 16]